*{
  /* background-color: grey; */
}
/* .products{
  display:flex ;
  justify-content: space-around;
} */
.productss{
  display: flex;
  justify-content: space-around;
}

.details{
display: flex;
gap: 50px;

}


